.imgCamisetas li{
    width: 15vw;
}
body{
    margin-top: 50px;
    background-image: url(../images/fondoImgL.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    max-width: 70vw;
    margin-left: 15vw;
}
.headerHeader{
    margin-top: -50px;
}
.portada:hover img{
    -webkit-transform: scale(1.1);
}
.footer{
    width: 100%;
}
.redes{
    flex-direction: column;
    align-content: center;
}
.redes li{
    min-width: 25vw;
    max-width: 30vw;
}
