.imgCamisetas li{
    width: 15vw;
}
body{
    margin-top: 50px;
}
main{
    max-width: 70vw;
    margin-left: 15vw;
}
.headerHeader{
    /* margin-left: -15vw; */
    margin-top: -50px;
}
.footer{
    width: 100%;
    /* margin-left: -15vw; */
}
.redes li{
    width: 25vw;
}
