body{
    background-image: url(../images/fondoImgM.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.imgCamisetas li{
    width: 31vw;
}
.sendDesign input{
    width: 250px;
    font-size: 2rem;
}