:root{
    --border: 5px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Oswald sans-serif;
    background-color: #FF47A5;
    color: white;
    font-size: 1.6rem;
}
main{
    padding-top: 65px;

}
.headerHeader{
    position: fixed;
    width: 100vw;
    height: 65px;
    background-color: #B33B78;
}
.headerHeader img{
    height: 40px;
}
.logo{
    position: absolute;
    top: 11px;
    left: 60px;
}
.menu{
    position: absolute;
    top: 11px;
    left: 10px;
}
.carrito{
    position: absolute;
    top: 17px;
    right: 30px;
}
.headerHeader .carrito{
    height: 30px;
}
.portada{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.portada img{
    width: 100%;
    max-width: 800px;
    border: 5px solid #FFEC61;

}
.precioDescuento{
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
    width: 100%;
    padding: 0 6px 6px;
}
.botonPrecio{
    font-family: Oswald;
    background-color: #B33B78;
    color: white;
    font-size: 1.6rem;
    padding: 2px;
    border-radius: var(--border);
    width: 100%; 
    border: 1px solid #FFEC61;
}
.descuento{
    background-color: #FF6666;
    text-align: justify;
    font-size: 1.5rem;
    padding: 6px 5px;
    margin-right: 5px;
    border-radius: var(--border);
}
.hombres{
    width: 100%;
}
.hombres h2{
    margin-top: 5px;
}
.hombres header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 0px;
}
.verMas{
    right: 20px;
    padding: 10px;
    background-color: #B33B78;
    border-radius: var(--border);
    border: 1px;
    color: white;
}
.imgCamisetas{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.imgCamisetas li{
    list-style: none;
    width: 47vw;
    margin: 10px 0 10px 0;
    border-radius: var(--border);
    background-color: #7AF0FF;
}
.imgCamisetas img{
    width: 100%;
    border-top-left-radius: var(--border);
    border-top-right-radius: var(--border);
}

.nombre{
    display: flex;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    color: black;
}
.variosSection{
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
.varios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100vw;
    margin-top: 10px;
}
.varios li{
    display: flex;
    justify-content: flex-start;
    height: 200px;
    width: 100%;
    border-top: 2px solid #FFEC61;
    border-bottom: 2px solid #FFEC61;
    padding: 10px;
    background-color: #7AF0FF;
    margin-bottom: 25px;
    padding-bottom: 0;
    color: black;
}
.varios img{
    height: 90%;
}
.nombreVarios{
    height: 100%;
}
.nombreCamisetasVarias{
    height: min-content;
    padding-left: 15px;
}
footer{
    width: 100%;
    background-color: #B33B78;
    color: white;
}
.links{
    display: flex;
    flex-wrap: wrap;
}
.links li{
    margin: 10px;
    list-style: none;
}
.idioma{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    align-items: center;
}
.cambioIdioma{
    background-color: #7AF0FF;
    color: black;
    margin-left: 10px;
    padding: 10px 7px;
}
.siguenos{
    border-top: 2px solid #7AF0FF;
    border-bottom: 2px solid #7AF0FF;
}
.redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.redes li{
    width: 47vw;
}
.h2{
    width: 100vw;
    text-align: center;
    padding-bottom: 10px;
    height: 30px;
}
.siguenos li{
    list-style: none;
    color: white;
    margin: 5px;
}

.whatsapp, .instagram{
    width: 50%;
}
.botonRed{
    background-color: #FFEC61;
    border: 0;
    padding: 10px;
    color: black;
    width: 100%;
}
.logoInferior{
    display: flex;
    flex-direction: row-reverse;    
    justify-content: flex-start;
    height: 30px;
    margin-right: 5px;
}
.logoInferior p{
    padding: 6px;
}
